---
# SPDX-FileCopyrightText: 2025 The MalInt development team
#
# SPDX-License-Identifier: CC0-1.0
name: Build and deploy the documentation
on:
  push:
    branches: [main]
permissions:
  contents: read
jobs:
  build:
    name: Build the documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Build TypeDoc website
        run: pnpm run docs
      - name: Setup Github Pages
        uses: actions/configure-pages@v5
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs
  deploy:
    name: Deploy the documentation
    permissions:
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
